.header{
    padding: 1rem;
    @include flex(row, space-around,center);
    background-color: #000;
    .logo{
        @include flex(row, center,center);
        .name{
            color: white;
            @include mobile(){
                display: none;
            }
        }
        .logo-img{
            border-radius: 15px;
            height: 100px;
        }
    }
    .nav-bar{
        @include flex(row, space-around,center);
        @include mobile(){
            @include flex(column, unset, end);
            animation: ease-in 1s  0.5s;
            z-index: 2;
            position: fixed;
            gap: 1rem;
            top: 0;
            right: 0;
            bottom: 0;
            padding: 2rem;
            background-color: rgb(72, 72, 72);
            box-shadow: 0 0 0 100vmax rgb(0, 0, 0, .5)
        }
        .menu{
            @include flex(row, space-evenly,center);
            height: 100%;
            list-style: none;
            width: 100%;
            gap: 1rem;
            @include tablet(){
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }
            @include mobile(){
                justify-content: unset;
                align-items: end;
                gap: 1rem;
            }
            .menu-item{
                a{
                    text-decoration: none;
                    font-size: 1.15em;
                    color: white;
                    &:hover{
                        color: green;
                    }
                }
                .login{
                    background: transparent;
                    color: white;
                    border: none;
                    font-size: 1.15em;
                    &:hover{
                        color: green;
                    }
                }
            }
        }
    }
    .open-menu{
        display: none;
        @include mobile(){
            display: block;
            border: 0;
            background-color: transparent;
            .bi-list{
                color: white;
                font-size: 1.25em;
            }
        }
    }
    .close-menu{
        @extend .open-menu;
    }
    .shop-card-button{
        &:hover{
            text-decoration: solid;
            color: white;
        }
        .bi-cart-fill{
            font-size: 1.5em;
            color: white;
            @include mobile(){
                font-size: 1.25em;
            }
        }
        .shop-count{
            color: white;
            font-size: 1.25em;
        }
    }
}