.modal-container{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.76);
    place-items: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    z-index: 1;
    top: 0;
    left: 0;

    .modal-body{
        background-color: white;
        width: 50%;
        min-width: 250px;
        position: relative;
        padding: 1rem;
        display: grid;
        grid-template-areas: 
        'top top'
        'left right'
        'bottom bottom';
        @include tablet(){
            @include flex(column, flex-start, center);
        }
        .modal-top{
            grid-area: top;
            @include flex(row, space-between, start);
            border-bottom: solid 1px rgb(169, 169, 169);
            margin-bottom: 2rem;
            width: 100%;
            button{
                background-color: transparent;
                border: 0;
                font-size: 1.25em;
            }
        }
        .form{
            grid-area: left;
            @include flex(column, flex-start, start);
            gap: 1rem;
            .input{
                @include flex(column, flex-start, start);
            }
        }
        .right-section{
            grid-area: right;
            height: 100%;
            @include flex(column, space-between, stretch);
            @include tablet(){
                margin-top: 1rem;
                border-top: solid 1px rgb(169, 169, 169);
                height: 150px;
            }
            .register{
                @include flex(column, flex-start, start);
                p{
                    margin: 0;
                }
                a{
                    color: black;
                }
            }
            .forgot-password{
                @extend .register;
            }
        }
        .bottom{
            // width: 100%;
            // //min-width: 226px;
            grid-area: bottom;
            padding: 1rem;
            padding-left: 0;
            @include flex(column, center, start);
        }
    }
}