.product-page{
    display: grid;
    height: 100vh;
    @include background-img(url('https://img.freepik.com/vector-gratis/coleccion-frutas-dibujadas-mano_23-2148942731.jpg?size=338&ext=jpg&ga=GA1.1.672697106.1719619200&semt=ais_user'), repeat, 20%, center);
    grid-template-areas: 
    'img info'
    'img options';
    @include mobile(){
        @include flex(column, center,center);
        height: 100%;
        background-size: 50%;
    }
    .product-img{
        background-color: rgba(0, 0, 0, 0.315);
        grid-area: img;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        img{
            @include img-size(300px, 300px);
            @include mobile(){
                @include img-size(200px, 200px);
            }
        }
    }
    .product-info{
        background-color: rgba(0, 0, 0, 0.315);
        color: white;
        font-size: 1.25em;
        grid-area: info;
        border-bottom: solid 1px rgb(168, 168, 168);
        width: 100%;
        margin: 0 auto;
        align-content: center;
        h4{
            font-size: 2em;
        }
    }
    .product-options{
        background-color: rgba(0, 0, 0, 0.315);
        color: white;
        grid-area: options;
        @include flex(column, center, start);
        gap: 1rem;
        width: 100%;
        .quantity{
            @include flex(column, center, start);
        }
        .add-button{
            padding-bottom: 2rem;
        }
    }
}