.shop-cart-container{
    position: absolute;
    background-color: rgb(255, 119, 0);
    place-items: center;
    width: 30%;
    height: 70vh;
    margin: 0 auto;
    z-index: 1;
    top: 90px;
    left: 850px;
}