.shop-card{
    @include flex(row, center, center);
    gap: 0.5rem;
    width: 245px;

    //height: 400px;
    .product-image{
        img{
            height: 230px;
            width: 100%;
        }
    }
}