//mapa para elegir distintos tipos de fuente traidas de google fonts
$google-font:(
    quicksand: 'Quicksand',
    josefin: 'Josefin+Sans:ital,',
    skranji: 'Skranji',
    dancing: 'Dancing Script',
    oswald: 'Oswald'
);