//MIXINS
//mixin para aplicar flex-box
@mixin flex($direction, $justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
//mixin para aplicar background-img
@mixin background-img($url, $repeat, $size, $position){
    background-image: $url;
    background-repeat: $repeat;
    background-size: $size;
    background-position: $position;
}
//mixin para tamaño de imagenes
@mixin img-size-card($alto, $ancho){
    height: $alto;
    width: $ancho;
}
//mixin para breakpoint en 1200px de ancho
@mixin width1200{
    @media  screen and (max-width:1200px) {
        @content;
    }
}
//mixin para breakpoint en 900px de ancho
@mixin tablet{
    @media screen and (max-width:900px) {
        @content;
    }
}
//mixin para breakpoint en 640px de ancho
@mixin mobile{
    @media screen and (max-width:640px) {
        @content;
    }
}